<div class="loader-cover">
    <div style="width:100%;position:relative;top:25%;">
    <img src="/images/loader.gif" style="margin:auto;width:250px;border-radius:5px;display:block;"/>
    </div>
</div>