.password-reset-box
{
    position: relative;
    top:10%;
    background-color: white;
    border-radius: 5px;
    width:300px;
    padding:20px;
    margin: auto;
}
body
{
    display: block !important;
}