<!DOCTYPE html>
<html ng-app="app" ng-controller="mainController" ng-click="hideStuff($event)">
  <head>
    <title>Welcome <%=data.name%></title>
    <% include ../partials/include %>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <script src="/js/dashboard.js"></script>
  </head>
  <body ng-click="categoriesOverlayRemover()">
    <% include ../partials/topbar %>
    <br/>
    <br/><br/><br/><br/>
    <div class="container border-radius-10 background-color-white">
        <div class="row">
            <div class="col-sm-2 light-grey-color-bg padding-10 dashboard-side-bar">
              <a href="/profile/<%=data._id%>" target="_blank"><img ng-src="/userImages/<%=data._id%>.png?v={{currentTime}}" class="img-rounded" style="width:100px;height:100px;margin:auto;display:block;"/></a>
              <p class="font-bold text-center"><%=data.name%></p>
              <%
                  if(!data.emailVerified)
                  {
                      %>
                      <p class="font-bold red-color-text text-center font-12">Email not verified</p>
                      <%
                  }
                 
              %>
                <a href="/" class="color-blue-bg">Dashboard</a>
                <a href="/inbox">Your Tasks</a>
                <a href="/yourbids">Your Bids</a>
                <a href="/jobhistory">Job History</a>
                <a href="/connectwithadmin">Connect with Admin</a>
                <a href="#" ng-click="showEarnModal()">Bank Account Details</a>
            </div>
            <div class="col-sm-10 padding-10" ng-controller="showboardcontroller">
                <br/>
                <div class="row">
                    <div class="col-sm-12">
                            <h3 class="text-center color-blue">What do you need done?</h3>
                            <br/>
                            <br/>
                    </div>
                </div>
                    <div class="row">
                            <div class="col-sm-3 show-board-box" ng-repeat="x in categories">
                              <div>
                                <img ng-src="images/categories/{{x}}.png" ng-click="changePage(x)"/>
                                <p class="font-bold text-center color-blue background-color-white">{{x}}</p>
                              </div>
                            </div>
                    </div>
                    <div class="row" ng-if="originalCategories.length>categories.length" style="padding:10px;">
                            <button class="btn-design display-block margin-auto border-grey-half color-grey" ng-click="equate()" style="background:none;font-size:12px;">See More Categories</button>
                    </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/signUp %>
    <% include ../partials/bottomBar %>

  </body>
</html>
