<!DOCTYPE html>
<html ng-app="app" ng-controller="mainController" ng-click="hideStuff($event)">
  <head>
    <title>Reset Password</title>
    <% include ../partials/include %>
    <link rel="stylesheet" href="/css/reset-password.css"/>
    <script src="/js/reset-password.js"></script>
    <script>
        var userId='<%=_id%>';
    </script>
</head>
  <body >
        <div class="password-reset-box sign-in-box-fields" ng-controller="resetPasswordController">
                <p class="font-18 text-center color-blue">Reset your Password</p>
                <br/>
                    <input type="password" placeholder="New Password (Min Length: 5)" ng-model="password" />
                    <button class="sign-up-button" style="width:200px;margin:auto;" ng-click="newPassword()">Change Password</button>
                    <br/><br>
                    <p class="font-18 text-center color-blue" ng-if="show">Redirecting...</p>
                </div>
                <% include ../partials/bottomBar %>
                
  </body>
</html>
