<!DOCTYPE html>
<html>
  <head>
    <title>Email Verified</title>
    <% include ../partials/include %>
    <link rel="stylesheet" href="/css/reset-password.css"/>
    <script>
        setTimeout(()=>{
            window.location.href="/";
        },4000);
    </script>
</head>
  <body >
        <div class="password-reset-box sign-in-box-fields">
                <p class="font-18 text-center color-blue">Email Verified</p>
                <br/>
                <img src="/images/loader.gif" style="width:200px;display:block;margin:auto;"/>
                <br/>
                    <p class="font-18 text-center color-blue">Redirecting...</p>
        </div>
                
  </body>
</html>
